*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'Colored Crayons';
    src: url('./colored-crayons/Colored\ Crayons.ttf');
}



@-webkit-keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  @keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }

  body{
    font-family: 'Colored Crayons';
    color: white;
    
	text-shadow: 0px 1px 1px #282828;
    background-image: url("./img/Option-4.jpg");
  }
.three{
    width: 500px;
    height: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    font-size: 5rem;
}

.five{
    width: 500px;
    height: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
}

.board{
    border: 1px solid white;
    font-size: larger;
    text-align: center;
    font-size: 5rem;
    animation: rotate-scale-up 0.65s linear both;
    font-family: 'Colored Crayons';
}

h1{
    margin: 5px;
}

img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
}
.winner{
    font-family: 'Colored Crayons';
    color: whitesmoke;
}
.draw{
    font-family: 'Colored Crayons';
    color: whitesmoke;
}
.game-container{
    width: 80%;
    margin: auto;
    
    text-align: center;
}
.msg{
    margin: auto;
    font-size: xx-large;
    text-align: center;
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
    
}
button{
    margin: 5px auto;
    cursor: pointer;
    font-family: 'Colored Crayons';
    font-size: 24px;
    min-width: 100px;
    background-color: darkgray;
}
.board:hover {
    background-color: cornflowerblue;
    cursor: pointer;
}
.occupied:hover{
    background-color: rgb(174, 47, 47);
    cursor: not-allowed;
}

.column-1{
    border-left: none;
}
.column-5{
    border-right: none;
}
.row-1{
    border-top: none;
}
.row-5{
    border-bottom: none;
}

